.wrapper {
  display: flex;
  justify-content: space-between;
}
.sidebar {
  background-color: var(--very-light-grayish-blue);
  padding: 0 4em 4em;
  width: 15%;
}
.container {
  background: #fff;
  padding: 0 4em 4em;
  width: 85%;
}

.footer {
  padding: 1em 0 1em;
  display: block;
  overflow: auto;
  width: 100%;
}
